<?xml version="1.0" encoding="UTF-8"?>
<web-app>
	<servlet>
		<servlet-name>
		Welcome
		</servlet-name>
		<servlet-class>
		com.BestOJAppServer.Welcome
		</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>
		Welcome
		</servlet-name>
		<url-pattern>
		/Welcome
		</url-pattern>
	</servlet-mapping>
	
	
	<servlet>
		<servlet-name>
		RegisterServlet
		</servlet-name>
		<servlet-class>
		com.BestOJAppServer.RegisterServlet
		</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>
		RegisterServlet
		</servlet-name>
		<url-pattern>
		/RegisterServlet
		</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>
		CheckNetwork
		</servlet-name>
		<servlet-class>
		com.BestOJAppServer.CheckNetwork
		</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>
		CheckNetwork
		</servlet-name>
		<url-pattern>
		/CheckNetwork
		</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>
		LoginServlet
		</servlet-name>
		<servlet-class>
		com.BestOJAppServer.LoginServlet
		</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>
		LoginServlet
		</servlet-name>
		<url-pattern>
		/LoginServlet
		</url-pattern>
	</servlet-mapping>
</web-app>
