<?xml version="1.0" encoding="UTF-8"?>
<web-app>
	<servlet>
		<servlet-name>
		Welcome
		</servlet-name>
		<servlet-class>
		com.BestOJAppServer.Servlet.Welcome
		</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>
		Welcome
		</servlet-name>
		<url-pattern>
		/Welcome
		</url-pattern>
	</servlet-mapping>
	
	
	<servlet>
		<servlet-name>
		RegisterServlet
		</servlet-name>
		<servlet-class>
		com.BestOJAppServer.Servlet.RegisterServlet
		</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>
		RegisterServlet
		</servlet-name>
		<url-pattern>
		/RegisterServlet
		</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>
		CheckNetwork
		</servlet-name>
		<servlet-class>
		com.BestOJAppServer.Servlet.CheckNetwork
		</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>
		CheckNetwork
		</servlet-name>
		<url-pattern>
		/CheckNetwork
		</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>
		LoginServlet
		</servlet-name>
		<servlet-class>
		com.BestOJAppServer.Servlet.LoginServlet
		</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>
		LoginServlet
		</servlet-name>
		<url-pattern>
		/LoginServlet
		</url-pattern>
	</servlet-mapping>
	
 	<servlet>
    	<servlet-name>TestLoginServlet</servlet-name>
    	<servlet-class>com.BestOJAppServer.Servlet.TestLoginServlet</servlet-class>
    </servlet>
  	<servlet-mapping>
    	<servlet-name>TestLoginServlet</servlet-name>
    	<url-pattern>/TestLoginServlet</url-pattern>
  	</servlet-mapping>
  	
  	<servlet>
    	<servlet-name>LogoutServlet</servlet-name>
    	<servlet-class>com.BestOJAppServer.Servlet.LogoutServlet</servlet-class>
  	</servlet>
  	<servlet-mapping>
    	<servlet-name>LogoutServlet</servlet-name>
    	<url-pattern>/LogoutServlet</url-pattern>
  	</servlet-mapping>
    
	<servlet>
		<servlet-name>GetOffspringByParentId</servlet-name>
		<servlet-class>com.BestOJAppServer.Servlet.GetOffspringByParentId</servlet-class>
	</servlet>
  <servlet>
    <servlet-name>GetProblemByProblemId</servlet-name>
    <servlet-class>com.BestOJAppServer.Servlet.GetProblemByProblemId</servlet-class>
  </servlet>

	<servlet-mapping>
		<servlet-name>GetOffspringByParentId</servlet-name>
   		<url-pattern>/GetOffspringByParentId</url-pattern>
  	</servlet-mapping>
  <servlet-mapping>
    <servlet-name>GetProblemByProblemId</servlet-name>
    <url-pattern>/GetProblemByProblemId</url-pattern>
  </servlet-mapping>

	

</web-app>
