<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.administrator.bestojapp">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ui.StartUpActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.example.administrator.bestojapp.ui.TreeNodeActivity_" />
        <activity android:name="com.example.administrator.bestojapp.ui.MainActivity_" />
        <activity android:name="com.example.administrator.bestojapp.ui.LoginActivity_" />
        <activity android:name="com.example.administrator.bestojapp.ui.ProblemActivity_" />
        <activity android:name="com.example.administrator.bestojapp.ui.RootActivity_" />
        <activity android:name="com.example.administrator.bestojapp.ui.SolutionListActivity_" />
        <activity android:name="com.example.administrator.bestojapp.ui.SolutionDetailActivity_" />
        <activity android:name="com.example.administrator.bestojapp.ui.SettingsActivity_" />
        <activity android:name="com.example.administrator.bestojapp.ui.UserActivity_" />
        <activity android:name="com.example.administrator.bestojapp.ui.PostActivity_" />
        <activity android:name="com.example.administrator.bestojapp.ui.DiscussActivity_" />
        <activity android:name="com.example.administrator.bestojapp.ui.ExamListActivity_" />
        <activity android:name="com.example.administrator.bestojapp.ui.ExamNodeActivity_" />
    </application>

</manifest>
